
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Rock+Salt&family=Sora:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Sora', sans-serif;
}

body, p, small {
font-family: 'Inter', sans-serif;
}

.fs-7{
    font-size: 0.80em;
    letter-spacing: 6px;
}
/* .centerAlign{
    height:80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.rock-salt{
    font-family: 'Rock Salt', cursive;
}
section {
    padding:15vh;
}
.text-justify{
    text-align: justify;
    line-height: 30px;
}
.header-shadow{
    box-shadow: 1px 0px 10px #2c2c2c42;
}
.pr-60{
    padding: 60px;
}
.p-100{
    padding-top: 100px;
}
.grey{
    color: rgb(44, 44, 44);

}
.line{
    background-color: #0d6efd;
    height: 4px;
    width: 50px;

}
.arrow{
    display:none;
}
.hover-container{
    padding-top: 10px ;
    animation-name : pulse;
    animation-duration: 0.5s;
    width: 300px !important;
    margin-left: 20px !important;
 

}
.hover-container:hover  {
background-color: #0d6efd;
color:white !important;
box-shadow: 8px 7px 20px 7px rgba(20, 20, 20, 0.342);
transition-duration: 0.5s;
border-radius: 20px;
margin-top:-25px;
}
.hover-container:hover .icon {
    color:white !important;
    transform: scale(0.8);
    text-align: center !important;
}
.hover-container:hover .container-heading {
    color:white !important;
}
.hover-container:hover .container-para {
    color:rgb(233, 233, 233) !important;
    
}

@keyframes pulse {
    
    0%   {background-color: red !important;}
  25%  {background-color: yellow !important;}
  50%  {background-color: blue !important;}
  100% {background-color: green !important;}
   
    
}